<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img class="logo" src="/public/k-on2.png" alt="K-ON! 로고">
    <link rel="stylesheet" href="/public/styles.css">
    <title>검색 결과</title>
    <style>
        .searchResults-section ul {
            list-style: none;
            padding: 0;
        }

        .searchResults-section li {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

        .searchResults-section a {
            text-decoration: none;
            color: #333;
        }

        .searchResults-section h1 {
            font-size: 2em;
        }

        .searchResults-section li p {
        font-weight: bold;
        }


        .searchResults-section time {
            color: gray;
            font-size: 0.8em;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="searchResults-section">
            <h1>검색 결과</h1>
            <!-- 검색 결과를 표시할 섹션 -->
            <% if (searchResults.length > 0) { %>
                <ul>
                    <% for (const item of searchResults) { %>
                        <li>
                            <a href="<%= item.link %>" target="_blank">
                                <p style="font-size: 1.2em;"><%= item.title %></p>
                                <p><%= item.description %></p>
                                <time><%= item.pubDate %></time>
                            </a>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <p>검색 결과가 없습니다.</p>
            <% } %>

            <!-- 돌아가기 버튼 -->
            <a href="/">메인 페이지로 돌아가기</a>
        </div>
    </div>  
</body>
</html>